<?xml version="1.0"?>
 <!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="connection.url">jdbc:derby:data;create=true</property>
		<!-- <property name="connection.url">jdbc:mariadb://localhost:3306/client_logonbox_vpn_service</property> -->

		<property name="connection.username">hypersocket</property>
		<property name="connection.password">hypersocket</property>

		<!-- <property name="hibernate.default_schema">hypersocket_client</property> -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>

		<!-- SQL dialect -->
		<!-- <property name="dialect">org.hibernate.dialect.MariaDBDialect</property> -->
		<property name="dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.connection.autocommit">true</property>


		<property name="hibernate.dbcp.initialSize">8</property>
		<property name="hibernate.dbcp.maxActive">20</property>
		<property name="hibernate.dbcp.maxIdle">20</property>
		<property name="hibernate.dbcp.minIdle">0</property>

		<mapping class="com.logonbox.vpn.common.client.ConnectionImpl" />

	</session-factory>

</hibernate-configuration>