@font-face {
	src: url('/com/logonbox/vpn/client/gui/jfx/ARLRDBD.TTF');
}

.inverse {
  -fx-background-color: -fx-lbvpn-background;
  -fx-text-fill: white;
}

.inverse Label, .inverse Hyperlink {
  -fx-text-fill: white;
}

.inverse FontIcon, .inverse FontIcon {
  -fx-icon-color: white;
}

.iconButton, .icon, .smallIcon {	
    -fx-font-family: FontAwesome;
}

.iconButton, .icon {	
    -fx-font-size: 32px;
}

.iconButton, .smallIcon {	
    -fx-font-size: 16px;
}

#header .titleBar {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 24px;
}

#header FontIcon {
	-fx-icon-color: white;
}

.navbar-brand {
  -fx-padding: 7px 10px; 
} 

.navbar-inverse {
  -fx-background-color: -fx-lbvpn-background;
}

#footer Label, #header Label,  #header Hyperlink,  #footer Hyperlink {
  -fx-text-fill: white;
}

.large-button-active {
   -fx-text-fill: -fx-lbvpn-background !important;
}

.large-button:hover {
  -fx-text-fill: -fx-lbvpn-background !important;
}

.progress-bar {
  -fx-background-color: -fx-lbvpn-background; 
}

a:focus, a:hover {
    -fx-text-fill: -fx-lbvpn-background;
}

a {
    -fx-text-fill: -fx-lbvpn-background;
}

