/* html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:51px; //this needs to be bigger than footer height
}

.footer { 
  position: relative;
  margin-top: -50px; //negative value of footer height
  height: 50px;
  clear:both;
  padding-top:10px;
}  */

/* From logonbox.css */
/** Add your own styling to this stylesheet **/
#header img {
    height: 35px;
}

.navbar-brand {
  padding: 7px 10px; 
} 

.navbar-inverse {
  background-color: #1e0c51;
}

#footer, #header { 
  background-color: #1e0c51;
  color: white;
}

.large-button-active {
   color: #1e0c51 !important;
}

.large-button:hover {
  color: #1e0c51 !important;
}

.progress-bar {
  background-color: #1e0c51; 
}

.slider-handle {
    background-color: #1e0c51;
    background-image: linear-gradient(to bottom, #1e0c51, #1e0c51);
}

a:focus, a:hover {
    color: #1e0c51;
    text-decoration: underline;
}

a {
    color: #1e0c51;
    text-decoration: none;
}

.sidebar ul.nav.nav-sidebar li a.active, .sidebar ul.nav.nav-sidebar li a:hover
{
	background: #1e0c51 !important;
}

.btn-primary {
	color: white;
	background: #1e0c51;
}

/* .btn-primary:hover { */
/* 	background: #8f6ed5; */
/* } */

.btn-primary:disabled {
    background: #bbb;
}

.btn-disabled {
	color: white;
	background: #eee;
}

.btn-disabled:hover {
	color: white;
}

/* .btn-disabled-dark { */
/* 	color: #374767; */
/* 	background: #eee; */
/* } */

/* .btn-disabled-dark:hover { */
/* 	color: #374767; */
/* } */

.open .dropdown-toggle.btn-primary {
	background-color: #1e0c51;
	color: white;
}

.switch-input:checked ~ .switch-label {
	background-color: #1e0c51;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	background-color: #1e0c51;
	border-color: #1e0c51;
}

.pagination>li>a, .pagination>li>span {
	color: #384042;
}